@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/Inter-VariableFont_opsz\,wght.woff2) format("woff2");
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  color: #08090a;
}
.btn {
  background-color: #35b8be;
  color: #ffffff;
  border: 1px solid;
}
.btn:hover {
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #61728333;
}
.btn-2{
  background-color: #35b8be;
  color: #08090a;
  border: 1px solid #35b8be;
}
.btn-2:hover{
  background-color: #FFFFFF;
  color: #35b8be;
  border: 1px solid #35b8be;
}
.backgroundImage1 {
  background-image: url(/img/Shape-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.backgroundImage2 {
  background-image: url(/img/shape-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.backgroundImage3 {
  background-image: url(/img/Content.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.backgroundImage4 {
  background-image: url(/img/IMAGE-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}
.backgroundImage5 {
  background-image: url(/img/IMAGE-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
}
